@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.itemSwiper {
  width: 70%;
}
.itemSwiper .swiper-slide {
  width: 100%;
}
.itemSwiper .swiper-slide img {
  display: block;
  width: 100%;
}
.itemSwiper-txt {
  padding: 10px;
  background-color: aqua;
}
/* visualSwiper */
.visualSwiper {
  margin: 100px 0;
  position: relative;
  width: 100%;
  height: 31.25vw;
  /* height: 600px; */
  background-color: aqua;
}
.visualSwiper img {
  width: 100%;
}
.visualSwiper .itemSwiper-txt {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mb_img {
  display: none;
}
/* 반응형 */
@media all and (max-width: 980px) {
  .visualSwiper .itemSwiper-txt {
    width: 180px;
    font-size: 15px;
    background-color: chartreuse;
  }
}
@media all and (max-width: 590px) {
  .itemSwiper-txt {
    padding: 20px;
    background-color: rgb(249, 207, 165);
  }
  .itemSwiper-txt p:first-child {
    font-size: 13px;
    color: #9a9a9a;
  }
}
@media all and (max-width: 390px) {
  .itemSwiper-txt {
    padding: 10px;
  }
  .img {
    display: none;
  }
  .mb_img {
    display: block;
   
  }
  .visualSwiper{
    height: 94.35vw;
  }
}
