@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.itemSwiper{
    /* 반응을 위해서 %가 좋음 */
    width: 70% ;    
}
.itemSwiper .swiper-slide{
    width: 100%;    
}
.itemSwiper .swiper-slide img{
    /* 처음 70%에서 4개 js슬라이드로 되니 높이 값 없어도 잡힘*/
    width: 100%;
}